@import url(./__photo/about-author__photo.css);
@import url(./__title/about-author__title.css);
@import url(../about-author/__text-block/about-authot__text-block.css);
@import url(../subtitle/subtitle.css);
@import url(./__subtitle/about-author__subtitle.css);

.about-author{
    display: flex;
    max-width: 1440px;
    height: 624px;
    margin: 0 auto;
    background: #FFFFFF;
}