@import url(./__week-day/dates__week-day.css);

.tabel__dates{
  display: grid;
  grid-template-rows: 24px 24px 24px 24px 24px 24px 24px;
  grid-row-gap: 56px;
  width: 104px;
  height: 504px;
  margin: 0px;
  margin-top: 7px;
}