.button__search{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    left: 440px;
    width: 168px;
    height: 64px;
    box-sizing: border-box;
    position: absolute;
    background: #2F71E5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

.button__search:hover{
    background: #347EFF;
    transition: ease 1.2s;
}

.button__search:active{
    background: #2A65CC;
    transition: background 0.2s;
}

.button__search:disabled{  
    background: #C0C0C0;
}