@import url(./__clients/title__clients.css);
@import url(./_tech/title_tech.css);
@import url(./_history/title_history.css);
@import url(./_searched/title_searched.css);

.title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    
}