.card__date{
   color: #B6BCBF; 
    margin: 0;
    margin-left: 24px;
    padding-top: 20px;
    margin-bottom: 12px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}