.menu-list_no-underline{
  width: 100%;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

.menu-list_no-underline:hover{
    color:  #1A1B22;
    transition: ease .3s;
}

.menu-list_no-underline::after{
    background-color: #1A1B22;
    content: "";
    width: 100%;
    transition: width .3s ease-in-out;
}